<!doctype html>
<html>
  <head>
    <title>DOM node test 8a, mini backbone app</title>
    <script src="lib/jquery-1.8.3.js"></script>
    <script src="lib/underscore.min.js"></script>
    <script src="lib/backbone.min.js"></script>
    <script src="test8/baseview.js"></script>
    <script src="test8/usersview.js"></script>
    <script src="test8/userview.js"></script>
    <script src="test8/test8a.js"></script>

  </head>
  <body>
    <h1>test 8a, mini backbone app, with unnecessary render</h1>
    <script type="text/html" id="users">
      <table>
        <tbody>
        </tbody>
      </table>
    </script>
    </script>
    <script type="text/html" id="user">
      <tr>
        <td><%= name %></td>
        <td><%= age %></td>
        <td><%= job %></td>
      </tr>
    </script>
  </body>
</html>
